<%- model_class = Practice -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div class="row-fluid">
    <div class="span10">
        <!-- Dati strutturati -->
        <h3>Pratica</h3>
        <%= render :partial => 'form' %>
    </div>

    <div class="span2">
      <!-- Allegati -->
      <h3>Allegati</h3>
      <%= render partial: 'documents2' %>
    </div>
</div>