<%- model_class = Practice -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>


<div class="row-fluid">
    <div class="span8">
        <%= render :partial => 'form' %>
    </div>
    <div class="span4">

    </div>
</div>